node_modules/
.next/
.env*.local
.env
.env.*
!.env.example
.vercel
.superpowers/

# testing
/coverage

# next.js
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo

# secrets / key files
*.key
credentials*.json
/config.json
